.Home {
  background-color: #B857C7;
  height:150vh;
}

.title-section {
  background-color: antiquewhite;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  background-color: blue;
}

.wellbeing-section {
  border: 1px solid red;
  background-color: antiquewhite;
  height: 30vh;
  width: 30vw;
}

.wellbeing-section > h1 {
  text-align: center;
  background-color: green;
  margin: 0;
}

.technical-section {
  text-align: center;
  border: 1px solid blue;
  background-color: antiquewhite;
  height: 30vh;
  width: 30vw;
}
