/* @import url('http://fonts.cdnfonts.com/css/proggy-clean'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.Home {
  display:flex;
  flex-direction:column;
  background-color: #2E8BC0;
  height:150vh;
  width:auto;
}

.title-section {
  background-color: #B1D4E0;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  /* background-color: blue; */
}

.wellbeing-section {
  font-family: 'Roboto Mono', monospace;
  box-shadow: rgba(0, 0, 0, 0.75) 3px 20px 20px;
  border-radius:10px;
  text-align: center;
  border: 3px solid #0C2D48;
  background-color: #B1D4E0;
  height: 30vh;
  width: 30vw;
}

/* .wellbeing-section > h1 { */
  /* font-family:bellefair; */
  /* text-align: center; */
  /* background-color: green; */
  /* margin: 0; */
/* } */

.technical-section {
  font-family: 'Roboto Mono', monospace;;
  box-shadow: rgba(0, 0, 0, 0.75) 3px 20px 20px;
  border-radius:10px;
  text-align: center;
  border: 3px solid #0C2D48;
  background-color: #B1D4E0;
  height: 30vh;
  width: 30vw;
}
