body {
    
}

.front-end-div {
    display: flex;
    flex-direction: column;
}

.back-end-div {
    display: flex;
    flex-direction: column;
}

.front-end-title {
}

.front-end-content {
    display: flex;
    justify-content: center;
}

.front-end-left-content {
    width:50%;
}

.front-end-right-content {
    width: 50%;
}

.back-end-title {
}

.back-end-content {
    display: flex;
    justify-content: center;
}

.back-end-left-content {
    width:50%;
}

.back-end-right-content {
    width: 50%;
}