.technical-div {
    background-color:#2E8BC0;
    font-family: 'Roboto Mono', monospace;
}
a{
    color:#0C2D48;
}
.front-end-div > *{
    margin:0px 20px 
}

.front-end-div {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.45) 3px 20px 20px;
    border-radius:10px;
    border: 3px solid #0C2D48;
    background-color: #B1D4E0;
    margin: 20px 20px
}

.back-end-div {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.45) 3px 20px 20px;
    border-radius:10px;
    border: 3px solid #0C2D48;
    background-color: #B1D4E0;
    margin: 20px 20px
}
.back-end-div > *{
    margin: 0px 10px;
}

.front-end-title {
    /* background-color: gray; */
}

.front-end-content {
    display: flex;
    justify-content: center;
}

.front-end-left-content {
    /* background-color: red; */
    width:50%;
}

.front-end-right-content {
    /* background-color: blue; */
    width: 50%;
}

.back-end-title {
    /* background-color: gray; */
}

.back-end-content {
    display: flex;
    justify-content: center;
}

.back-end-left-content {
    /* background-color: red; */
    width:50%;
}

.back-end-right-content {
    /* background-color: blue; */
    width: 50%;
}