.footer-class {
        border-radius:20px;
        text-align: center;
        font-size:15px;         
        position:fixed;
        bottom:0;
        width:94%;
        height:60px;   /* Height of the footer */
        background:#0C2D48;
      }
      .quote-paragraph{
        font-family:Arial, Helvetica, sans-serif;
        color:#B1D4E0;
        font-weight: bold;
      }