.footer-class {
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        text-align: center;
        font-size:14px;        
        bottom:0;
        /* overflow:inherit; */
        height:60px;  
        background:#0C2D48;
      }

      .quote-paragraph{
        color:#B1D4E0;
        font-family: Permanent Marker; 
        font-weight:bolder;
        text-transform:uppercase;
      }